{% assign customDTF_IDs = "8577508802828,11634085363980,11634082447628" | split: ',' %}

{% comment %} Lummy Custom quantity {% endcomment %}
{% comment %} Prodotto custom:8577508802828 Prodotto test mail:8511906152716 {% endcomment %}

{% capture email_title %}
  {% if has_pending_payment %}
    Grazie per il tuo ordine!
  {% else %}
    Grazie per il tuo acquisto!
  {% endif %}
{% endcapture %}
{% capture email_body %}
  {% if has_pending_payment %}
    {% if buyer_action_required %}
      Riceverai un'email di conferma una volta completato il pagamento.
    {% else %}
      Il tuo pagamento è in fase di elaborazione. Riceverai un'email quando il tuo ordine è confermato.
    {% endif %}
  {% else %}
    {% if requires_shipping %}
    {% case delivery_method %}
        {% when 'pick-up' %}
          Riceverai un'email quando il tuo ordine è pronto per il ritiro.
        {% when 'local' %}
          Ciao {{ customer.first_name }}, stiamo preparando il tuo ordine per la consegna.
        {% else %}
          Stiamo preparando il tuo ordine per la spedizione. Ti informeremo quando sarà spedito.
      {% endcase %}
        {% if delivery_instructions != blank  %}
          <p><b>Informazioni sulla consegna:</b> {{ delivery_instructions }}</p>
        {% endif %}
       {% if consolidated_estimated_delivery_time %}
        {% if has_multiple_delivery_methods %}
          <h3 class="estimated_delivery__title">Consegna prevista</h3>
          <p>{{ consolidated_estimated_delivery_time }}</p>
        {% else %}
          <p>
            Consegna prevista <b>{{ consolidated_estimated_delivery_time }}</b>
          </p>
        {% endif %}
       {% endif %}
    {% endif %}
  {% endif %}
  {% assign gift_card_line_items = line_items | where: "gift_card" %}
  {% assign found_gift_card_with_recipient_email = false %}
  {% for line_item in gift_card_line_items %}
    {% if line_item.properties["__shopify_send_gift_card_to_recipient"] and line_item.properties["Recipient email"] %}
      {% assign found_gift_card_with_recipient_email = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if found_gift_card_with_recipient_email %}
    <p>Il destinatario del buono regalo riceverà un'email con il relativo codice.</p>
  {% elsif gift_card_line_items.first %}
    <p>Riceverai email separate per i buoni regalo.</p>
  {% endif %}
{% endcapture %}

<!doctype html>
<html lang="it">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
      .button__cell { background: {{ shop.email_accent_color }}; }
      a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
    </style>
  </head>

  <body>
    <table class="body">
      <tr>
        <td>
          <table class="header row">
            <tr>
              <td class="header__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        <table class="row">
                          <tr>
                            <td class="shop-name__cell">
                              {%- if shop.email_logo_url %}
                                <img
                                  src="{{shop.email_logo_url}}"
                                  alt="{{ shop.name }}"
                                  width="{{ shop.email_logo_width }}"
                                >
                              {%- else %}
                                <h1 class="shop-name__text">
                                  <a href="{{shop.url}}">{{ shop.name }}</a>
                                </h1>
                              {%- endif %}
                            </td>

                            <td>
                              <tr>
                                <td class="order-number__cell">
                                  <span class="order-number__text"> Ordine {{ order_name }} </span>
                                </td>
                              </tr>
                              {%- if po_number %}
                                <tr>
                                  <td class="po-number__cell">
                                    <span class="po-number__text"> Numero ordine d'acquisto #{{ po_number }} </span>
                                  </td>
                                </tr>
                              {%- endif %}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <table class="row content">
            <tr>
              <td class="content__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        <h2>{{ email_title }}</h2>
                        <p>{{ email_body }}</p>
                        {% assign transaction_count = transactions | size %}
                        {% if transaction_count > 0 %}
                          {% for transaction in transactions %}
                            {% if transaction.show_buyer_pending_payment_instructions? %}
                              <p>{{ transaction.buyer_pending_payment_notice }}</p>
                              <p>
                                <table class="row">
                                  <tr>
                                    {% for instruction in transaction.buyer_pending_payment_instructions %}
                                      <td>{{ instruction.header }}</td>
                                    {% endfor %}
                                    <td>Importo</td>
                                  </tr>
                                  <tr>
                                    {% for instruction in transaction.buyer_pending_payment_instructions %}
                                      <td>{{ instruction.value }}</td>
                                    {% endfor %}
                                    <td>{{ transaction.amount | money }}</td>
                                  </tr>
                                </table>
                              </p>
                            {% endif %}
                          {% endfor %}
                        {% endif %}

                        {% if order_status_url %}
                          <table class="row actions">
                            <tr>
                              <td class="empty-line">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="actions__cell">
                                <table class="button main-action-cell">
                                  <tr>
                                    <td class="button__cell">
                                      <a href="{{ order_status_url }}" class="button__text">Visualizza il tuo ordine</a>
                                    </td>
                                  </tr>
                                </table>
                                {% if shop.url %}
                                  <table class="link secondary-action-cell">
                                    <tr>
                                      <td class="link__cell">
                                        o <a href="{{ shop.url }}">Visita il nostro negozio</a>
                                      </td>
                                    </tr>
                                  </table>
                                {% endif %}
                              </td>
                            </tr>
                          </table>

                        {% else %}
                          {% if shop.url %}
                            <table class="row actions">
                              <tr>
                                <td class="actions__cell">
                                  <table class="button main-action-cell">
                                    <tr>
                                      <td class="button__cell">
                                        <a href="{{ shop.url }}" class="button__text">Visita il nostro negozio</a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <table class="row section">
            <tr>
              <td class="section__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        <h3>Riepilogo ordine</h3>
                      </td>
                    </tr>
                  </table>
                  <table class="container">
                    <tr>
                      <td>
                        <table class="row">
                          {% for line in subtotal_line_items %}
                            <tr class="order-list__item">
                              <td class="order-list__item__cell">
                                <table>
                                  <td>
                                    {% comment %} Immagine prodotto custom {% endcomment %}
                                    {% if customDTF_IDs contains line.product.id and line.properties.grafica != blank  %}
                                          <img
                                            src="{{ line.properties.grafica }}"
                                            align="left"
                                            width="60"
                                            height="auto"
                                            class="order-list__product-image"
                                          >
                                    {% comment %} Immagine prodotto custom mancante {% endcomment %}
                                    {% elsif customDTF_IDs contains line.product.id and line.properties.grafica == blank  %}
                                          <img
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/619px-Placeholder_view_vector.svg.png"
                                            align="left"
                                            width="60"
                                            height="auto"
                                            class="order-list__product-image"
                                          >
                                    {% comment %} Immagine prodotti standard {% endcomment %}
                                    {% elsif line.image %}
                                      <img
                                        src="{{ line | img_url: 'compact_cropped' }}"
                                        align="left"
                                        width="60"
                                        height="60"
                                        class="order-list__product-image"
                                      >
                                    {% endif %}
                                  </td>
                                  <td class="order-list__product-description-cell">
                                    {% if line.product.title %}
                                      {% assign line_title = line.product.title %}
                                    {% else %}
                                      {% assign line_title = line.title %}
                                    {% endif %}

                                    {% if line.quantity < line.quantity %}
                                      {% capture line_display %}
                                        {{ line.quantity }} di {{ line.quantity }}
                                      {% endcapture %}
                                    {% else %}
                                      {% assign line_display = line.quantity %}
                                    {% endif %}

                                    {% comment %} Lummy Custom quantity {% endcomment %}
                                    {% if customDTF_IDs contains line.product.id %}
                                      <span class="order-list__item-title">{{ line_title }}</span><br>
                                      {% comment %} Else Default {% endcomment %}
                                    {% else %}
                                      <span class="order-list__item-title">
                                        {{- line_title }}&nbsp;&times;&nbsp;{{ line_display -}}</span
                                      ><br>
                                      {% comment %} Fine Lummy Custom quantity {% endcomment %}
                                    {% endif %}

                                    {% if line.variant.title != 'Default Title' %}
                                      <span class="order-list__item-variant">{{ line.variant.title }}</span><br>
                                    {% endif %}

                                    {% for group in line.groups %}
                                      <span class="order-list__item-variant">Parte di: {{ group.display_title }}</span
                                      ><br>
                                    {% endfor %}

                                    {% comment %} Properties prodotto custom {% endcomment %}
                                    {% if customDTF_IDs contains line.product.id %}
                                      <div class="order-list__item-property"><dt>Nome grafica:</dt><dd>{{ line.properties.nome }}</dd></div>
                                      <div class="order-list__item-property"><dt>Dimensioni:</dt><dd>{{ line.properties.dimensioni }}</dd></div>
                                      <div class="order-list__item-property"><dt>Metri lineari:</dt><dd>{{ line.properties["metri necessari"] }}</dd></div>
                                      <div class="order-list__item-property"><dt>Quantita:</dt><dd>{{ line.properties.quantita }}</dd></div>
                                      <div class="order-list__item-property">
                                        Allegato: <a href="{{ line.properties.grafica }}">Anteprima</a> / <a href="{{ line.properties.grafica_hq }}">Stampa</a>
                                      </div>
                                      <div class="order-list__item-property"><dt>Note:</dt><dd>{{ line.properties.note }}</dd></div>
                                    {% comment %} Properties prodotti standard con gift card VEDI BENE!! {% endcomment %}
                                    {% elsif line.gift_card and line.properties.__shopify_send_gift_card_to_recipient %}
                                      {% for property in line.properties %}
                                        {% assign property_first_char = property.first | slice: 0 %}
                                        {% if property.last != blank and property_first_char != '_' %}
                                          <div class="order-list__item-property">
                                            <dt>{{ property.first }}:</dt>
                                            <dd>
                                              {% if property.last contains '/uploads/' %}
                                                <a href="{{ property.last }}" class="link" target="_blank">
                                                  {{ property.last | split: '/' | last }}
                                                </a>
                                              {% else %}
                                                {{ property.last }}
                                              {% endif %}
                                            </dd>
                                          </div>
                                        {% endif %}
                                      {% endfor %}
                                    {% endif %}

                                    {% if line.selling_plan_allocation %}
                                      <span class="order-list__item-variant">
                                        {{- line.selling_plan_allocation.selling_plan.name -}}</span
                                      ><br>
                                    {% endif %}

                                    {% if line.refunded_quantity > 0 %}
                                      <span class="order-list__item-refunded">Rimborsato</span>
                                    {% endif %}

                                    {% if line.discount_allocations %}
                                      {% for discount_allocation in line.discount_allocations %}
                                        {% if discount_allocation.discount_application.target_selection != 'all' %}
                                          <p>
                                            <span class="order-list__item-discount-allocation">
                                              <img
                                                src="{{ 'notifications/discounttag.png' | shopify_asset_url }}"
                                                width="18"
                                                height="18"
                                                class="discount-tag-icon"
                                              >
                                              <span>
                                                {{ discount_allocation.discount_application.title | upcase }}
                                                (-{{ discount_allocation.amount | money }})
                                              </span>
                                            </span>
                                          </p>
                                        {% endif %}
                                      {% endfor %}
                                    {% endif %}
                                  </td>
                                  <td class="order-list__price-cell">

                                    {% comment %} Costo per prezzo custom {% endcomment %}
                                    {% if customDTF_IDs contains line.product.id %}
                                      <p class="order-list__item-price">{{ line.properties.costo }}</p>
                                    {% else %}
                                      
                                        {% comment %} Costo prezzi standard {% endcomment %}
                                        {% if line.original_line_price != line.final_line_price %}
                                          <del class="order-list__item-original-price">
                                            {{- line.original_line_price | money -}}
                                          </del>
                                        {% endif %}
                                        <p class="order-list__item-price">
                                          {% if line.final_line_price > 0 %}
                                            {{ line.final_line_price | money }}
                                          {% else %}
                                            Gratis
                                          {% endif %}
                                        </p>
                                    
                                    {% endif %}
                                  </td>
                                </table>
                              </td>
                            </tr>
                          {% endfor %}
                        </table>

                        <table class="row subtotal-lines">
                          <tr>
                            <td class="subtotal-spacer"></td>
                            <td>
                              <table class="row subtotal-table">
                                {% assign order_discount_count = 0 %}
                                {% assign total_order_discount_amount = 0 %}
                                {% assign has_shipping_discount = false %}

                                {% for discount_application in discount_applications %}
                                  {% if discount_application.target_selection == 'all'
                                    and discount_application.target_type == 'line_item'
                                  %}
                                    {% assign order_discount_count = order_discount_count | plus: 1 %}
                                    {% assign total_order_discount_amount = total_order_discount_amount
                                      | plus: discount_application.total_allocated_amount
                                    %}
                                  {% endif %}
                                  {% if discount_application.target_type == 'shipping_line' %}
                                    {% assign has_shipping_discount = true %}
                                    {% assign shipping_discount = discount_application.title %}
                                    {% assign shipping_amount = discount_application.total_allocated_amount %}
                                  {% endif %}
                                {% endfor %}

                                <tr class="subtotal-line">
                                  <td class="subtotal-line__title">
                                    <p>
                                      <span>Subtotale</span>
                                    </p>
                                  </td>
                                  <td class="subtotal-line__value">
                                    <strong>{{ subtotal_price | plus: total_order_discount_amount | money }}</strong>
                                  </td>
                                </tr>

                                {% if order_discount_count > 0 %}
                                  {% if order_discount_count == 1 %}
                                    <tr class="subtotal-line">
                                      <td class="subtotal-line__title">
                                        <p>
                                          <span>Sconto sull'ordine</span>
                                        </p>
                                      </td>
                                      <td class="subtotal-line__value">
                                        <strong>-{{ total_order_discount_amount | money }}</strong>
                                      </td>
                                    </tr>
                                  {% endif %}
                                  {% if order_discount_count > 1 %}
                                    <tr class="subtotal-line">
                                      <td class="subtotal-line__title">
                                        <p>
                                          <span>Sconti sugli ordini</span>
                                        </p>
                                      </td>
                                      <td class="subtotal-line__value">
                                        <strong>-{{ total_order_discount_amount | money }}</strong>
                                      </td>
                                    </tr>
                                  {% endif %}
                                  {% for discount_application in discount_applications %}
                                    {% if discount_application.target_selection == 'all'
                                      and discount_application.target_type != 'shipping_line'
                                    %}
                                      <tr class="subtotal-line">
                                        <td class="subtotal-line__title">
                                          <p>
                                            <span class="subtotal-line__discount">
                                              <img
                                                src="{{ 'notifications/discounttag.png' | shopify_asset_url }}"
                                                width="18"
                                                height="18"
                                                class="discount-tag-icon"
                                              >
                                              <span class="subtotal-line__discount-title">
                                                {{- discount_application.title }} (-
                                                {{- discount_application.total_allocated_amount | money -}}
                                                )</span
                                              >
                                            </span>
                                          </p>
                                        </td>
                                      </tr>
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}

                                {% if delivery_method == 'pick-up' %}
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Ritiro</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ shipping_price | money }}</strong>
                                    </td>
                                  </tr>

                                {% else %}
                                  {% if has_shipping_discount %}
                                    <tr class="subtotal-line">
                                      <td class="subtotal-line__title">
                                        <p>
                                          <span>Spedizione</span>
                                        </p>
                                      </td>
                                      <td class="subtotal-line__value">
                                        <strong>Free</strong>
                                      </td>
                                    </tr>

                                    <tr class="subtotal-line">
                                      <td class="subtotal-line__title">
                                        <p>
                                          <span class="subtotal-line__discount">
                                            <img
                                              src="{{ 'notifications/discounttag.png' | shopify_asset_url }}"
                                              width="18"
                                              height="18"
                                              class="discount-tag-icon"
                                            >
                                            <span class="subtotal-line__discount-title">
                                              {{- shipping_discount }} (-{{ shipping_amount | money }})</span
                                            >
                                          </span>
                                        </p>
                                      </td>
                                    </tr>

                                  {% else %}
                                    <tr class="subtotal-line">
                                      <td class="subtotal-line__title">
                                        <p>
                                          <span>Spedizione</span>
                                        </p>
                                      </td>
                                      <td class="subtotal-line__value">
                                        <strong>{{ shipping_price | money }}</strong>
                                      </td>
                                    </tr>
                                  {% endif %}
                                {% endif %}

                                {% if total_duties %}
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Dazi</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ total_duties | money }}</strong>
                                    </td>
                                  </tr>
                                {% endif %}

                                <tr class="subtotal-line">
                                  <td class="subtotal-line__title">
                                    <p>
                                      <span>Imposte</span>
                                    </p>
                                  </td>
                                  <td class="subtotal-line__value">
                                    <strong>{{ tax_price | money }}</strong>
                                  </td>
                                </tr>

                                {% if total_tip and total_tip > 0 %}
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Tip</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ total_tip | money }}</strong>
                                    </td>
                                  </tr>
                                {% endif %}
                              </table>

                              {% assign transaction_size = 0 %}
                              {% assign transaction_amount = 0 %}
                              {% for transaction in transactions %}
                                {% if transaction.status == 'success' %}
                                  {% if transaction.kind == 'sale' or transaction.kind == 'capture' %}
                                    {% assign transaction_size = transaction_size | plus: 1 %}
                                    {% assign transaction_amount = transaction_amount | plus: transaction.amount %}
                                  {% elsif transaction.kind == 'refund' or transaction.kind == 'change' %}
                                    {% assign transaction_size = transaction_size | plus: 1 %}
                                    {% assign transaction_amount = transaction_amount | minus: transaction.amount %}
                                  {% endif %}
                                {% endif %}
                              {% endfor %}

                              <table class="row subtotal-table subtotal-table--total">
                                {% if payment_terms and payment_terms.automatic_capture_at_fulfillment == false or b2b? %}
                                  {% assign due_at_date = payment_terms.next_payment.due_at | date: '%b %d, %Y' %}

                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Totale pagato oggi</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ transaction_amount | money_with_currency }}</strong>
                                    </td>
                                  </tr>

                                  <div class="payment-terms">
                                    <tr class="subtotal-line">
                                      <td class="subtotal-line__title">
                                        <p>
                                          <span>Totale dovuto il giorno {{ due_at_date }}</span>
                                        </p>
                                      </td>
                                      <td class="subtotal-line__value">
                                        <strong>
                                          {{- payment_terms.next_payment.amount_due | money_with_currency -}}
                                        </strong>
                                      </td>
                                    </tr>
                                  </div>
                                {% elsif transaction_amount != total_price %}
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Totale</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ total_price | money_with_currency }}</strong>
                                    </td>
                                  </tr>

                                  <div class="payment-terms">
                                    <tr class="subtotal-line">
                                      <td class="subtotal-line__title">
                                        <p>
                                          <span>Totale pagato oggi</span>
                                        </p>
                                      </td>
                                      <td class="subtotal-line__value">
                                        <strong>{{ transaction_amount | money_with_currency }}</strong>
                                      </td>
                                    </tr>
                                  </div>
                                {% else %}
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Totale</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ total_price | money_with_currency }}</strong>
                                    </td>
                                  </tr>
                                {% endif %}
                              </table>

                              {% if total_discounts > 0 %}
                                <p class="total-discount">
                                  Hai risparmiato
                                  <span class="total-discount--amount">{{ total_discounts | money }}</span>
                                </p>
                              {% endif %}

                              {% unless payment_terms %}
                                {% if transaction_size > 1 or transaction_amount < total_price %}
                                  <table class="row subtotal-table">
                                    <tr>
                                      <td colspan="2" class="subtotal-table__line"></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2" class="subtotal-table__small-space"></td>
                                    </tr>

                                    {% for transaction in transactions %}
                                      {% if transaction.status == 'success'
                                        and transaction.kind == 'capture'
                                        or transaction.kind == 'sale'
                                      %}
                                        {% if transaction.payment_details.gift_card_last_four_digits %}
                                          {% capture transaction_name %}Buono regalo che termina con {{ transaction.payment_details.gift_card_last_four_digits }}{% endcapture %}
                                        {% elsif transaction.payment_details.credit_card_company %}
                                          {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} (che termina con {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
                                        {% else %}
                                          {% capture transaction_name %}{{ transaction.gateway_display_name }}{% endcapture %}
                                        {% endif %}

                                        <tr class="subtotal-line">
                                          <td class="subtotal-line__title">
                                            <p>
                                              <span>{{ transaction_name }}</span>
                                            </p>
                                          </td>
                                          <td class="subtotal-line__value">
                                            <strong>{{ transaction.amount | money }}</strong>
                                          </td>
                                        </tr>
                                      {% endif %}
                                      {% if transaction.kind == 'refund' %}
                                        {% if transaction.payment_details.gift_card_last_four_digits %}
                                          {% assign refund_method_title = transaction.payment_details.type %}
                                        {% elsif transaction.payment_details.credit_card_company %}
                                          {% assign refund_method_title = transaction.payment_details.credit_card_company %}
                                        {% else %}
                                          {% assign refund_method_title = transaction.gateway %}
                                        {% endif %}

                                        <tr class="subtotal-line">
                                          <td class="subtotal-line__title">
                                            <p>
                                              <span>Rimborso</span>
                                              <br>
                                              <small>{{ refund_method_title | replace: '_', ' ' | capitalize }}</small>
                                            </p>
                                          </td>
                                          <td class="subtotal-line__value">
                                            <strong>- {{ transaction.amount | money }}</strong>
                                          </td>
                                        </tr>
                                      {% endif %}
                                    {% endfor %}
                                  </table>
                                {% endif %}
                              {% endunless %}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <table class="row section">
            <tr>
              <td class="section__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        <h3>Informazioni cliente</h3>
                      </td>
                    </tr>
                  </table>
                  <table class="container">
                    <tr>
                      <td>
                        <table class="row">
                          <tr>
                            {% if requires_shipping and shipping_address %}
                              <td class="customer-info__item">
                                <h4>Indirizzo di spedizione</h4>
                                {{ shipping_address | format_address }}
                              </td>
                            {% endif %}
                            {% if billing_address %}
                              <td class="customer-info__item">
                                <h4>Indirizzo di fatturazione</h4>
                                {{ billing_address | format_address }}
                              </td>
                            {% endif %}
                          </tr>
                        </table>
                        <table class="row">
                          <tr>
                            {% if company_location %}
                              <td class="customer-info__item">
                                <h4>Sede</h4>
                                <p>
                                  {{ company_location.name }}
                                </p>
                              </td>
                            {% endif %}
                            {% if transaction_size > 0 or payment_terms and payment_terms.automatic_capture_at_fulfillment == false or b2b? %}
                              <td class="customer-info__item">
                                <h4>Pagamento</h4>
                                <p class="customer-info__item-content">
                                  {% if payment_terms %}
                                    {% assign due_date = payment_terms.next_payment.due_at | default: null %}
                                    {% if payment_terms.type == 'receipt'
                                      or payment_terms.type == 'fulfillment'
                                      and payment_terms.next_payment.due_at == null
                                    %}
                                      {{ payment_terms.translated_name -}}
                                      <br>
                                    {% else %}
                                      {{ payment_terms.translated_name }}: dovuto entro il
                                      {{ due_date | date: format: 'date' -}}
                                      <br>
                                    {% endif %}
                                  {% endif %}
                                  {% if transaction_size > 0 %}
                                    {% for transaction in transactions %}
                                      {% if transaction.status == 'success' or transaction.status == 'pending' %}
                                        {% if transaction.kind == 'capture' or transaction.kind == 'sale' %}
                                          {% if transaction.payment_details.gift_card_last_four_digits %}
                                            <img
                                              src="{{ transaction.payment_details.type | downcase | replace: '_', '-'  | payment_type_img_url }}"
                                              class="customer-info__item-credit"
                                              height="24"
                                            >
                                            che termina con
                                            {{ transaction.payment_details.gift_card_last_four_digits -}}
                                            <br>
                                          {% elsif transaction.payment_details.credit_card_company %}
                                            <img
                                              src="{{ transaction.payment_details.credit_card_company | payment_icon_png_url  }}"
                                              class="customer-info__item-credit"
                                              height="24"
                                              alt="{{ transaction.payment_details.credit_card_company }}"
                                            >
                                            <span
                                              >che termina con
                                              {{ transaction.payment_details.credit_card_last_four_digits -}}</span
                                            ><br>
                                          {% elsif transaction.gateway_display_name == 'Gift card' %}
                                            <img
                                              src="{{ transaction.gateway_display_name | downcase | replace: ' ', '-'  | payment_type_img_url }}"
                                              class="customer-info__item-credit"
                                              height="24"
                                            >
                                            che termina con
                                            {{ transaction.payment_details.gift_card.last_four_characters | upcase -}}
                                            <br>
                                            &emsp;&emsp;&emsp;&nbsp;Saldo buono regalo -
                                            <b>{{ transaction.payment_details.gift_card.balance | money }}</b>
                                          {% elsif transaction.gateway_display_name != 'Shop Cash' %}
                                            {{ transaction.gateway_display_name -}}
                                            <br>
                                          {% endif %}
                                        {% elsif transaction.kind == 'authorization'
                                          and transaction.gateway_display_name == 'Shop Cash'
                                        %}
                                          <span
                                            >Shop Cash - <b>{{ transaction.amount | money }}</b></span
                                          >
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
                                </p>
                              </td>
                            {% endif %}
                          </tr>
                          <tr>
                            {% if requires_shipping and shipping_address %}
                              {% if shipping_method %}
                                <td class="customer-info__item">
                                  <h4>Modalità di spedizione</h4>
                                  <p>
                                    {% if delivery_promise_branded_shipping_line %}
                                      {{ delivery_promise_branded_shipping_line }}
                                    {% else %}
                                      {{ shipping_method.title }}
                                    {% endif %}
                                  </p>
                                </td>
                              {% endif %}
                            {% endif %}
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <table class="row footer">
            <tr>
              <td class="footer__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        <p class="disclaimer__subtext">
                          Se hai domande, rispondi a questa email o contattaci all’indirizzo
                          <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                        </p>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1">
        </td>
      </tr>
    </table>
  </body>
</html>
